<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container d-f align-center justify-between">
                    <div class="header-language">
                        <select name="" id="" class="js-language">
                            <option value="russion">Ru</option>
                            <option value="american">Eng</option>
                        </select>
                    </div>
                    <a href="mailto:cryptok@gmail.com" class="header-email"><span class="mail"></span>cryptok@gmail.com</a>
                    <a href="cryptok24x7xbot" class="header-telegram"><span class="telegramm"></span>cryptok24x7xbot</a>
                    <div class="header-schedule">Пн-Вс с 10:00 до 22:00 по мск</div>
                    <div class="header-user">Выход</div>
                </div>
            </div>
            <div class="header-between">
                <div class="container">
                    <div class="d-f header-holder">
                        <a class="header-logo" href="#">
                            <img src="images/logo-header.png" alt="">
                            <span>Cryptokit</span>
                        </a>
                        <nav class="header-nav">
                            <div class="gamburger-btn js-gamburger">
                                <img src="images/gamburger.png" alt="">
                            </div>
                            <ul>
                                <li class="account"><div class="account-holder"><img src="images/user.png" alt="">cryptok24x7xbot</div></li>
                                <li><a href="#">Обмен</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Правила</a></li>
                                <li>
                                    <a href="#">Кабинет</a>
                                    <div class="dropdown">
                                        <ul>
                                            <li><a href="#">Личный кабинет</a></li>
                                            <li><a href="#">Ваши операции</a></li>
                                            <li><a href="#">Партнерский аккаунт</a></li>
                                            <li><a href="#">Вывод патрнерских средств</a></li>
                                            <li><a href="#">Рекламные материалы</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="#">Личный кабинет</a></li>
                                            <li><a href="#">Ваши операции</a></li>
                                            <li><a href="#">Партнерский аккаунт</a></li>
                                            <li><a href="#">Вывод патрнерских средств</a></li>
                                            <li><a href="#">Рекламные материалы</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Тарифы</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li class="exit">Выход</li>
                            </ul>
                        </nav>
                        <div class="settings">
                            <img src="images/settings.png" class="js-settings" alt="">
                            <ul class="language">
                                <li>Выбор языка</li>
                                <li><a href="#"><img src="images/american.jpg" alt="">Английский</a></li>
                                <li><a href="#"><img src="images/russion.jpg" alt="">Русский</a></li>
                            </ul>
                        </div>
                        <div class="mail-box">
                            <img src="images/mobile-mail.png" alt="" class="js-mail-box">
                            <ul class="contact-dropdown">
                                <li>Контакты</li>
                                <li><img src="images/icq.png" alt="">12345</li>
                                <li><img src="images/skype.png" alt="">12345</li>
                                <li><img src="images/email.png" alt="">12345</li>
                                <li><img src="images/teleg.png" alt="">12345</li>
                                <li><img src="images/call.png" alt="">12345</li>
                                <li><img src="images/whatsup.png" alt="">12345</li>
                                <li><img src="images/lamp.png" alt="">12345</li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-selectwrapper">
                        <div class="currency-left">
                            <div class="select-item">
                                <div class="select-labe">ОТДАЁТЕ:</div>
                                <select name="" id="">
                                    <option value="payyer">Payeer EUR</option>
                                    <option value="exmo">Payeer EUR</option>
                                    <option value="payyer">Payeer EUR</option>
                                </select>
                                <input type="text" class="form-control" value="1">
                                <div class="select-currency">EUR</div>
                            </div>
                        </div>
                        <div class="currency-right">
                            <div class="select-item">
                                <div class="select-labe">СО СЧЕТА:</div>
                                <input type="text" class="form-control form-control__big" value="124151516">
                            </div>
                        </div>
                    </div>
                    <div class="header-selectwrapper">
                        <div class="currency-left">
                            <div class="select-item">
                                <div class="select-labe"><span>отправить <br> с комиссией:</span></div>
                                <select name="" id="">
                                    <option value="Payeer">Payeer EUR</option>
                                    <option value="Payeer-1">Payeer EUR</option>
                                    <option value="Payeer-2">Payeer EUR</option>
                                </select>
                                <input type="text" class="form-control" value="1">
                                <div class="select-currency">EUR</div>
                            </div>
                        </div>
                        <div class="currency-right"></div>
                    </div>
                    <div class="header-selectwrapper">
                        <div class="currency-left">
                            <div class="select-item">
                                <div class="select-labe">ПОЛУЧАЕТЕ</div>
                                <select name="" id="">
                                    <option value="Payeer">Payeer EUR</option>
                                    <option value="Payeer-1">Payeer EUR</option>
                                    <option value="Payeer-2">Payeer EUR</option>
                                </select>
                                <input type="text" class="form-control" value="1">
                                <div class="select-currency">EUR</div>
                            </div>
                        </div>
                        <div class="currency-right">
                            <div class="select-item">
                                <div class="select-labe">НА СЧЕТ:</div>
                                <input type="text" class="form-control form-control__big" value="14252636">
                            </div>
                        </div>
                    </div>
                    <div class="header-selectwrapper">
                        <div class="currency-left">
                            <div class="exchange">
                                <div class="exchange-text">Курс обмена: 1 EUR = 1.07749 USD</div>
                                <p>
                                    <input type="checkbox" id="test1" />
                                    <label for="test1">С правилами сервиса ознакомлен <br>и согласен</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test2" checked="checked" />
                                    <label for="test2">Даю согласие на обработку моих <br>персональных данных</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test3" checked="checked" />
                                    <label for="test3">Запомнить введенные данные</label>
                                </p>
                            </div>
                        </div>
                        <div class="currency-right">
                            <div class="select-item">
                                <div class="select-labe">E-MAIL*:</div>
                                <input type="text" class="form-control form-control__big" value="cryptokit@mail.ru">
                            </div>
                            <div class="button-wrapper text-center">
                                <button class="exchange-button">обменять</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="mobile-online">
            Наш On-line сервис предназначен для тех, кто хочет быстро, безопасно и по выгодному курсу обменять такие виды электронных валют: Webmoney, Perfect Money, Qiwi, PayPal, Яндекс. Деньги, Альфа-Банк, ВТБ 24, Приват24, Visa/Master Card, Western uniоn, MoneyGram.
        </section>
        <section class="advanced">
            <div class="container">
                <h2 class="text-center">Наши преимущества</h2>
                <div class="advanced-text">
                    Наш пункт обмена электронных валют – система, созданная на базе современного программного обеспечения и содержащая весь набор необходимых функций для удобной и безопасной конвертации наиболее распространенных видов электронных денег. За время работы мы приобрели репутацию проверенного партнера и делаем все возможное, чтобы ваши впечатления от нашего сервиса были только благоприятными.
                </div>
            </div>
        </section>
        <section class="features">
            <div class="container">
                <div class="features-list">
                    <div class="features-item">
                        <img src="images/feature-1.png" alt="">
                        <span>Скорость</span>
                    </div>
                    <div class="features-item">
                        <img src="images/feature-2.png" alt="">
                        <span>Надежность</span>
                    </div>
                    <div class="features-item">
                        <img src="images/feature-3.png" alt="">
                        <span>Точность</span>
                    </div>
                    <div class="features-item">
                        <img src="images/feature-4.png" alt="">
                        <span>Конфиденциальность</span>
                    </div>
                    <div class="features-item">
                        <img src="images/feature-5.png" alt="">
                        <span>Реферальная <br> программа</span>
                    </div>
                    <div class="features-item">
                        <img src="images/feature-6.png" alt="">
                        <span>Работа <br> по всему миру</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews">
            <h2 class="text-center">Отзывы</h2>
            <div class="reviews-outer">
                <div class="reviews-inner">
                    <!-- Swiper -->
                    <div class="reviews-mobile">
                        <div class="review-list">
                            <div class="reviews-item">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container" id="js-reviews">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"><img src="images/arrow-right.png" alt=""></div>
                        <div class="swiper-button-prev"><img src="images/arrow-left.png" alt=""></div>
                    </div>
                </div>
                <div class="reviews-all">
                    <a href="#">Все отзывы</a>
                </div>
            </div>
        </section>
        <section class="changes">
            <div class="container">
                <div class="changes-outer">
                    <h2 class="heading-line">Последние обмены</h2>
                    <div class="changes-holder">
                        <div class="changes-item">
                            <div class="changes-from">
                                <div class="changes-date">20/04/2018</div>
                                <div class="changes-info">
                                    <img src="images/webmoney.png" alt="">
                                    <div class="changes-value">
                                        15236.4
                                        <span>USD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="changes-arrow">
                                <img src="images/arrow.png" alt="">
                            </div>
                            <div class="changes-from">
                                <div class="changes-date changes-date__time">23:11</div>
                                <div class="changes-info">
                                    <img src="images/webmoney.png" alt="">
                                    <div class="changes-value">
                                        15236.4
                                        <span>USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="changes-item">
                            <div class="changes-from">
                                <div class="changes-date">20/04/2018</div>
                                <div class="changes-info">
                                    <img src="images/webmoney.png" alt="">
                                    <div class="changes-value">
                                        15236.4
                                        <span>USD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="changes-arrow">
                                <img src="images/arrow.png" alt="">
                            </div>
                            <div class="changes-from">
                                <div class="changes-date changes-date__time">23:11</div>
                                <div class="changes-info">
                                    <img src="images/webmoney.png" alt="">
                                    <div class="changes-value">
                                        15236.4
                                        <span>USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <h2 class="text-center">Новости</h2>
            <div class="reviews-outer">
                <div class="reviews-inner">
                    <div class="reviews-mobile">
                        <div class="review-list">
                            <div class="reviews-item">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Swiper -->
                    <div class="swiper-container" id="js-news">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews-heading">Гость Гость</div>
                                <div class="reviews-text">
                                    Lorem ipsum dolor sit amet, oratio doctus complectitur in sit, quo adipisci quaestio constituto eu. Est quidam scaevola ex, quo at officiis principes consetetur. Eu duis oblique mea. Cu est phaedrum repudiare urbanitas, te sed quod purto.
                                </div>
                                <div class="reviews-date">
                                    20/04/2018
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"><img src="images/arrow-right.png" alt=""></div>
                        <div class="swiper-button-prev"><img src="images/arrow-left.png" alt=""></div>
                    </div>
                </div>
                <div class="reviews-all">
                    <a href="#">Все новости</a>
                </div>
            </div>
        </section>
        <section class="reserved">
            <div class="container">
                <div class="reserved-holder">
                    <div class="reserved-inner">
                        <h2 class="heading-line">Резерв валюты</h2>
                        <div class="reserved-list">
                            <div class="reserved-item">
                                <img src="images/visa.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/dom.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/dom.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/dom.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/yandex.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/bitcoin.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/bitcoin-cash.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-1.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/romb.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-2.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-3.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-4.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-5.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-6.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-7.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-8.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-9.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-10.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-11.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-12.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                            <div class="reserved-item">
                                <img src="images/cash-13.jpg" alt="">
                                <div class="reserved-text">
                                    Visa/Mastercard USD
                                    <div class="reserved-count">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bottom-page">
            <section class="partners">
                <div class="container">
                    <div class="partners-holder">
                        <div class="partners-inner">
                            <div class="partners-text">партнеры</div>
                            <div class="partners-images">
                                <img src="images/bitcoin-img.jpg" alt="">
                                <img src="images/okpay.jpg" alt="">
                                <img src="images/perfect-money.jpg" alt="">
                                <img src="images/solidtrust.jpg" alt="">
                                <img src="images/webmoney-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer-mobile">
                    <div class="mobile-copyright">
                        <div>© kryptokit.vom.ua</div>
                        <div>Сервис обмена электронных валют</div>
                    </div>
                    <div class="footer-version">
                        <a href="#">Полная версия сайта</a>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-holder">
                        <ul class="footer-menu">
                            <li><a href="#">Карта сайта</a></li>
                            <li><a href="#">Предупреждение</a></li>
                            <li><a href="#">Правила сайта</a></li>
                        </ul>
                        <ul class="footer-social">
                            <li><a class="google-plus" href="#"></a></li>
                            <li><a class="facebook" href="#"></a></li>
                            <li><a class="twitter" href="#"></a></li>
                            <li><a class="vk" href="#"></a></li>
                        </ul>
                        <div class="footer-adress">
                            тел. 8 800 123 45 67 <br>
                            Пн. — Пт. с 10:00 до 23:00 по мск. <br>
                            Сб. — Вск. свободный график.
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-copyright text-center">Copyright &copy; 2019 <a href="#">aexchanger.com</a></div>
                </div>
            </footer>
        </div>
        <div class="mobile-top" id="js-to-top">
            <img src="images/mobile-top.png" alt="">
        </div>
    </div>
</body>
<script src="js/all.min.js"></script>

</html>