<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style-mobile.min.css">
</head>

<body class="body-content">
    <div class="wrapper">
        <header class="header">
            
            <div class="header-between">
                <div class="container">
                    <div class="d-f header-holder">
                        <a class="header-logo" href="#">
                            <img src="images/logo-header.png" alt="">
                            <span>Cryptokit</span>
                        </a>
                        <nav class="header-nav">
                            <div class="gamburger-btn js-gamburger">
                                <img src="images/gamburger.png" alt="">
                            </div>
                            <ul>
                                <li class="account">
                                    <div class="account-holder"><img src="images/user.png" alt="">cryptok24x7xbot</div>
                                </li>
                                <li><a href="#">Обмен</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Правила</a></li>
                                <li>
                                    <a href="#">Кабинет</a>
                                    <div class="dropdown">
                                        <ul>
                                            <li><a href="#">Личный кабинет</a></li>
                                            <li><a href="#">Ваши операции</a></li>
                                            <li><a href="#">Партнерский аккаунт</a></li>
                                            <li><a href="#">Вывод патрнерских средств</a></li>
                                            <li><a href="#">Рекламные материалы</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="#">Личный кабинет</a></li>
                                            <li><a href="#">Ваши операции</a></li>
                                            <li><a href="#">Партнерский аккаунт</a></li>
                                            <li><a href="#">Вывод патрнерских средств</a></li>
                                            <li><a href="#">Рекламные материалы</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Тарифы</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li class="exit">Выход</li>
                            </ul>
                        </nav>
                        <div class="settings">
                            <img src="images/settings.png" class="js-settings" alt="">
                            <ul class="language">
                                <li>Выбор языка</li>
                                <li><a href="#"><img src="images/american.jpg" alt="">Английский</a></li>
                                <li><a href="#"><img src="images/russion.jpg" alt="">Русский</a></li>
                            </ul>
                        </div>
                        <div class="mail-box">
                            <img src="images/mobile-mail.png" alt="" class="js-mail-box">
                            <ul class="contact-dropdown">
                                <li>Контакты</li>
                                <li><img src="images/icq.png" alt="">12345</li>
                                <li><img src="images/skype.png" alt="">12345</li>
                                <li><img src="images/email.png" alt="">12345</li>
                                <li><img src="images/teleg.png" alt="">12345</li>
                                <li><img src="images/call.png" alt="">12345</li>
                                <li><img src="images/whatsup.png" alt="">12345</li>
                                <li><img src="images/lamp.png" alt="">12345</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </header>
        <section class="content-top">
            <div class="content-container">
                <h1>Личный кабинет</h1>
                
            </div>
        </section>
        <div class="mobile-lk-top">
            <div><span>Персональная скидка</span><span>10%</span></div>
            <div><span>Всего обменов</span><span>23</span></div>
            <div><span>Сумма обменов</span><span>2233 USD</span></div>
        </div>
        <h2 class="heading-lk">Ваши операции</h2>
        <div class="operation-holder">
            <div class="operation-top">
                <div class="operation-cell">Курс</div>
                <div class="operation-cell">Отдаете</div>
                <div class="operation-cell">Получаете</div>
            </div>
            <div class="operation-list">
                <div class="operation-item">
                    <div class="operation-row">
                        <div class="operation-cell">1 USD <span>234 RUB</span><img src="images/cripto-arrow.png" alt=""></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                    </div>
                    <div class="operation-bottom">
                        <span>ID: 24351</span>
                        <span>Дата: 25.06.2018, 21:24</span>
                        <span>Статус: Выполненная заявка</span>
                    </div>
                </div>
                <div class="operation-item">
                    <div class="operation-row">
                        <div class="operation-cell">1 USD <span>234 RUB</span><img src="images/cripto-arrow.png" alt=""></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                    </div>
                    <div class="operation-bottom">
                        <span>ID: 24351</span>
                        <span>Дата: 25.06.2018, 21:24</span>
                        <span>Статус: Выполненная заявка</span>
                    </div>
                </div>
                <div class="operation-item">
                    <div class="operation-row">
                        <div class="operation-cell">1 USD <span>234 RUB</span><img src="images/cripto-arrow.png" alt=""></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                    </div>
                    <div class="operation-bottom">
                        <span>ID: 24351</span>
                        <span>Дата: 25.06.2018, 21:24</span>
                        <span>Статус: Выполненная заявка</span>
                    </div>
                </div>
                <div class="operation-item">
                    <div class="operation-row">
                        <div class="operation-cell">1 USD <span>234 RUB</span><img src="images/cripto-arrow.png" alt=""></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                        <div class="operation-cell">EgoPay USD<span>1,11 USD</span></div>
                    </div>
                    <div class="operation-bottom">
                        <span>ID: 24351</span>
                        <span>Дата: 25.06.2018, 21:24</span>
                        <span>Статус: Выполненная заявка</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="content-container">
            <div class="profile-wrapper">
                <div class="profile-col profile-thumbnail">
                    <div class="profile-heading">Личный кабинет</div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Логин">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Пароль">
                    </div>
                    <div class="form-group form-group__df">
                        <input type="text" class="form-control form-control__xs">
                        <span class="action">+</span>
                        <input type="text" class="form-control form-control__xs">
                        <span class="action">=</span>
                        <input type="text" class="form-control form-control__xs">
                        <button class="btn-refresh"><img src="images/refresh-btn.png" alt=""></button>
                    </div>
                    <div class="forgot-holder">
                        <span>Забыли пароль?</span>
                        <span>Регистрация</span>
                    </div>
                    <button class="profile-btn">Вход</button>
                </div>
                <div class="profile-col profile-thumbnail">
                    <div class="profile-heading">Личный кабинет</div>
                    <div class="profile-discount"><span>Ваша скидка</span> <span>10%</span></div>
                    <div class="profile-text">
                        Личный кабинет
                        Ваши операции
                        Партнёрский аккаунт
                        Вывод партнёрских средств
                        Рекламные материалы
                        Партнёрский FAQ
                        XML-файл курсов
                    </div>
                    <button class="profile-btn">Выход</button>
                </div>
                <div class="profile-col">
                    <div class="profile-col-inner">
                        <div class="profile-heading profile-heading__inverse">Отзывы</div>
                        <div class="profile-review">
                            <div class="profile-review-top">Александр 25/12/18</div>
                            <div class="profile-review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitat nulla pariatur. Excepteur </div>
                        </div>
                        <div class="profile-review">
                            <div class="profile-review-top">Александр 25/12/18</div>
                            <div class="profile-review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitat nulla pariatur. Excepteur </div>
                        </div>
                        <div class="profile-review">
                            <div class="profile-review-top">Александр 25/12/18</div>
                            <div class="profile-review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitat nulla pariatur. Excepteur </div>
                        </div>
                        <div class="all-profile-reviews">
                            <a href="#">Все отзывы</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-wrapper profile-wrapper__inverse">
                <div class="profile-col">
                    <div class="profile-col-inner">
                        <div class="profile-heading profile-heading__line profile-heading__inverse">Резервы валют</div>
                        <div class="reserved-item">
                            <img src="images/visa.jpg" alt="">
                            <div class="reserved-text">
                                Visa/Mastercard USD
                                <div class="reserved-count">0</div>
                            </div>
                        </div>
                        <div class="reserved-item">
                            <img src="images/dom.jpg" alt="">
                            <div class="reserved-text">
                                Visa/Mastercard USD
                                <div class="reserved-count">0</div>
                            </div>
                        </div>
                        <div class="reserved-item">
                            <img src="images/dom.jpg" alt="">
                            <div class="reserved-text">
                                Visa/Mastercard USD
                                <div class="reserved-count">0</div>
                            </div>
                        </div>
                        <div class="reserved-item">
                            <img src="images/dom.jpg" alt="">
                            <div class="reserved-text">
                                Visa/Mastercard USD
                                <div class="reserved-count">0</div>
                            </div>
                        </div>
                        <div class="reserved-item">
                            <img src="images/yandex.jpg" alt="">
                            <div class="reserved-text">
                                Visa/Mastercard USD
                                <div class="reserved-count">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-col">
                    <div class="profile-col-inner">
                        <div class="profile-heading profile-heading__line profile-heading__inverse">Курсы криптовалют</div>
                        <div class="crypto-currency-wrapper">
                            <div class="crypto-currency-item">
                                <div class="crypto-name">BTC/RUB</div>
                                <img src="images/cripto-arrow.png" alt="">
                                <div class="crypto-name">High: 24151352 RUB</div>
                            </div>
                            <div class="crypto-currency-item">
                                <div class="crypto-name">BTC-E</div>
                                <div class="crypto-name">Low: 12415232 RUB</div>
                            </div>
                        </div>
                        <div class="crypto-currency-wrapper">
                            <div class="crypto-currency-item">
                                <div class="crypto-name">BTC/RUB</div>
                                <img src="images/cripto-arrow.png" alt="">
                                <div class="crypto-name">High: 24151352 RUB</div>
                            </div>
                            <div class="crypto-currency-item">
                                <div class="crypto-name">BTC-E</div>
                                <div class="crypto-name">Low: 12415232 RUB</div>
                            </div>
                        </div>
                        <div class="crypto-currency-wrapper">
                            <div class="crypto-currency-item">
                                <div class="crypto-name">BTC/RUB</div>
                                <img src="images/cripto-arrow.png" alt="">
                                <div class="crypto-name">High: 24151352 RUB</div>
                            </div>
                            <div class="crypto-currency-item">
                                <div class="crypto-name">BTC-E</div>
                                <div class="crypto-name">Low: 12415232 RUB</div>
                            </div>
                        </div>
                        <div class="currency-refresh">Обновление курса в 18:42</div>
                    </div>
                    <div class="profile-col-inner">
                        <div class="profile-heading profile-heading__line profile-heading__inverse">Курсы ЦБ</div>
                        <div class="currency-cb">
                            <div>1 USD</div>
                            <div>56.7854 <img src="images/arrow-up.png" alt=""></div>
                        </div>
                        <div class="currency-cb">
                            <div>1 EUR</div>
                            <div>56.7854 <img src="images/arrow-down.png" alt=""></div>
                        </div>
                    </div>
                    <div class="profile-col-inner">
                        <div class="profile-heading profile-heading__line profile-heading__inverse">Последний обмен</div>
                        <div class="profile-news-top">25/12/18</div>
                        <div class="currency-cb currency-cb__inverse">
                            <div>
                                <img src="images/webmoney-small.png" alt="">
                                <div>15236.4 <br>USD</div>
                            </div>
                            <img src="images/arrow-change.png" alt="">
                            <div>
                                <img src="images/webmoney-small.png" alt="">
                                <div>15236.4 <br>USD</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-col">
                    <div class="profile-col-inner">
                        <div class="profile-heading profile-heading__inverse">Новости</div>
                        <div class="profile-review profile-review__inverse">
                            <div class="profile-news-top">25/12/18</div>
                            <a class="profile-news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitat nulla pariatur. Excepteur </a>
                        </div>
                        <div class="profile-review profile-review__inverse">
                            <div class="profile-news-top">25/12/18</div>
                            <div class="profile-news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitat nulla pariatur. Excepteur </div>
                        </div>
                        <div class="profile-review profile-review__inverse">
                            <div class="profile-news-top">25/12/18</div>
                            <div class="profile-news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitat nulla pariatur. Excepteur </div>
                        </div>
                        <div class="all-profile-reviews">
                            <a href="#">Все новости</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="bottom-page">
            <section class="partners">
                <div class="container">
                    <div class="partners-holder">
                        <div class="partners-inner">
                            <div class="partners-text">партнеры</div>
                            <div class="partners-images">
                                <img src="images/bitcoin-img.jpg" alt="">
                                <img src="images/okpay.jpg" alt="">
                                <img src="images/perfect-money.jpg" alt="">
                                <img src="images/solidtrust.jpg" alt="">
                                <img src="images/webmoney-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer-mobile">
                    <div class="mobile-copyright">
                        <div>© kryptokit.vom.ua</div>
                        <div>Сервис обмена электронных валют</div>
                    </div>
                    <div class="footer-version">
                        <a href="#">Полная версия сайта</a>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-holder">
                        <ul class="footer-menu">
                            <li><a href="#">Карта сайта</a></li>
                            <li><a href="#">Предупреждение</a></li>
                            <li><a href="#">Правила сайта</a></li>
                        </ul>
                        <ul class="footer-social">
                            <li><a class="google-plus" href="#"></a></li>
                            <li><a class="facebook" href="#"></a></li>
                            <li><a class="twitter" href="#"></a></li>
                            <li><a class="vk" href="#"></a></li>
                        </ul>
                        <div class="footer-adress">
                            тел. 8 800 123 45 67 <br>
                            Пн. — Пт. с 10:00 до 23:00 по мск. <br>
                            Сб. — Вск. свободный график.
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-copyright text-center">Copyright &copy; 2019 <a href="#">aexchanger.com</a></div>
                </div>
            </footer>
        </div>
        <div class="mobile-top" id="js-to-top">
            <img src="images/mobile-top.png" alt="">
        </div>
    </div>
</body>
<script src="js/all.min.js"></script>

</html>