<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style-mobile.min.css">
</head>

<body class="body-content">
    <div class="wrapper">
        <header class="header">
            <div class="header-between">
                <div class="container">
                    <div class="d-f header-holder">
                        <a class="header-logo" href="#">
                            <img src="images/logo-header.png" alt="">
                            <span>Cryptokit</span>
                        </a>
                        <nav class="header-nav">
                            <div class="gamburger-btn js-gamburger">
                                <img src="images/gamburger.png" alt="">
                            </div>
                            <ul>
                                <li class="account">
                                    <div class="account-holder"><img src="images/user.png" alt="">cryptok24x7xbot</div>
                                </li>
                                <li><a href="#">Обмен</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Правила</a></li>
                                <li>
                                    <a href="#">Кабинет</a>
                                    <div class="dropdown">
                                        <ul>
                                            <li><a href="#">Личный кабинет</a></li>
                                            <li><a href="#">Ваши операции</a></li>
                                            <li><a href="#">Партнерский аккаунт</a></li>
                                            <li><a href="#">Вывод патрнерских средств</a></li>
                                            <li><a href="#">Рекламные материалы</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="#">Личный кабинет</a></li>
                                            <li><a href="#">Ваши операции</a></li>
                                            <li><a href="#">Партнерский аккаунт</a></li>
                                            <li><a href="#">Вывод патрнерских средств</a></li>
                                            <li><a href="#">Рекламные материалы</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Тарифы</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li class="exit">Выход</li>
                            </ul>
                        </nav>
                        <div class="settings">
                            <img src="images/settings.png" class="js-settings" alt="">
                            <ul class="language">
                                <li>Выбор языка</li>
                                <li><a href="#"><img src="images/american.jpg" alt="">Английский</a></li>
                                <li><a href="#"><img src="images/russion.jpg" alt="">Русский</a></li>
                            </ul>
                        </div>
                        <div class="mail-box">
                            <img src="images/mobile-mail.png" alt="" class="js-mail-box">
                            <ul class="contact-dropdown">
                                <li>Контакты</li>
                                <li><img src="images/icq.png" alt="">12345</li>
                                <li><img src="images/skype.png" alt="">12345</li>
                                <li><img src="images/email.png" alt="">12345</li>
                                <li><img src="images/teleg.png" alt="">12345</li>
                                <li><img src="images/call.png" alt="">12345</li>
                                <li><img src="images/whatsup.png" alt="">12345</li>
                                <li><img src="images/lamp.png" alt="">12345</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="authorize">
            <div class="authorize-container">
                <h1 class="text-center authorize-heading">Регистрация</h1>
                <form action="#" class="form js_validate">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Логин" required>
                        <div class="error">Введите логин</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" required 
                        data-validate="pass">
                        <div class="error">Введите Пароль</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Повторите пароль"  required data-validate="pass">
                        <div class="error">Введите Пароль</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Повторите пароль"  required data-validate="pass">
                        <div class="error">Введите Пароль</div>
                    </div>
                    <div class="authorize-bottom">
                        <p>
                            <input type="checkbox" id="test1" />
                            <label for="test1">С правилами сервиса ознакомлен <br>и согласен</label>
                        </p>
                        <div class="text-center">
                            <button class="btn-authorize" type="submit">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom-page">
            <section class="partners">
                <div class="container">
                    <div class="partners-holder">
                        <div class="partners-inner">
                            <div class="partners-text">партнеры</div>
                            <div class="partners-images">
                                <img src="images/bitcoin-img.jpg" alt="">
                                <img src="images/okpay.jpg" alt="">
                                <img src="images/perfect-money.jpg" alt="">
                                <img src="images/solidtrust.jpg" alt="">
                                <img src="images/webmoney-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer-mobile">
                    <div class="mobile-copyright">
                        <div>© kryptokit.vom.ua</div>
                        <div>Сервис обмена электронных валют</div>
                    </div>
                    <div class="footer-version">
                        <a href="#">Полная версия сайта</a>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-holder">
                        <ul class="footer-menu">
                            <li><a href="#">Карта сайта</a></li>
                            <li><a href="#">Предупреждение</a></li>
                            <li><a href="#">Правила сайта</a></li>
                        </ul>
                        <ul class="footer-social">
                            <li><a class="google-plus" href="#"></a></li>
                            <li><a class="facebook" href="#"></a></li>
                            <li><a class="twitter" href="#"></a></li>
                            <li><a class="vk" href="#"></a></li>
                        </ul>
                        <div class="footer-adress">
                            тел. 8 800 123 45 67 <br>
                            Пн. — Пт. с 10:00 до 23:00 по мск. <br>
                            Сб. — Вск. свободный график.
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-copyright text-center">Copyright &copy; 2019 <a href="#">aexchanger.com</a></div>
                </div>
            </footer>
        </div>
        <div class="mobile-top" id="js-to-top">
            <img src="images/mobile-top.png" alt="">
        </div>
    </div>
</body>
<script src="js/all.min.js"></script>

</html>