.content {
    &-top {
        background-image: url('../images/heading-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        padding-top: 20px;
    }

    &-container {
        max-width: 810px;
        margin: 0 auto;
    }

    &-col {
        flex: 0 0 calc(100% - 235px);
        padding: 0 20px;
    }

    &-block {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                position: relative;
                padding-left: 20px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 10px;
                    height: 10px;
                    border: 2px solid #cc6666;
                    transform: rotate(-135deg);
                    border-top: none;
                    border-right: none;
                }
            }
        }

        ol {
            padding: 0;
            margin: 0;
        }
    }

    &-inner {
        background-color: #fff;
        height: 100%;
        position: relative;

        &__inverse {
            background-color: transparent;
        }



        .form-control {
            border: 1px solid #999999;
            border-radius: 3px;
            height: 32px;
            line-height: 32px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;

            &::placeholder {
                color: #999;
            }

            &::-ms-input-placeholder {
                color: #999;
            }
        }
    }
}

h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 25px;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    li {
        position: relative;

        &:not(:last-child) {
            margin-right: 12px;

            &:before {
                content: '/';
                position: absolute;
                right: -9px;
                color: #fff;
            }
        }

        a,
        span {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.profile {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: -100px;
        margin-left: -20px;
        margin-right: -20px;
        padding-bottom: 70px;

        &__inverse {
            margin-top: 0;
            align-items: flex-start;
        }
    }

    &-col {
        flex: 0 0 235px;


        &-inner {
            background-color: #fff;
            padding: 15px 20px;

            &:not(:last-child) {
                margin-bottom: 35px;
            }

        }
    }

    &-thumbnail {
        height: 280px;
        background-image: url('../images/profile-bg.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        padding: 15px 20px;
        margin-bottom: 35px;

        .form-control {
            height: 25px;
            border-radius: 3px;
            line-height: 25px;
            font-size: 12px;
            color: #000;

            &::placeholder {
                color: #999;
            }

            &::-ms-input-placeholder {
                color: #999;
            }

            &__xs {
                width: 40px;
                text-align: center;
            }
        }
    }

    &-heading {
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;

        &__inverse {
            color: #000;
        }

        &__line {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -20px;
                right: -20px;
                height: 1px;
                background-color: #a1c1d2;
                bottom: 5px;
            }
        }
    }

    &-discount {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #fff;
        margin-bottom: 15px;
    }

    &-text {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
    }

    &-btn {
        width: calc(100% - 40px);
        color: #fff;
        font-size: 16px;
        border-radius: 15px;
        border: 2px solid #fff;
        padding: 7px;
        background-color: #003366;
        position: absolute;
        bottom: 23px;
        left: 20px;
        right: 20px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &-review {
        font-size: 12px;
        padding: 20px 0;

        &__inverse {
            padding: 7px 0;
        }
    }

    &-news-text {
        color: #00669c;
        font-size: 14px;
        text-decoration: underline;
        font-weight: 300;
    }

    &-news-top {
        font-size: 14px;
    }
}

.action {
    color: #fff;
    font-size: 16px;

    &__inverse {
        color: #000;
    }
}

.important-field {
    font-size: 10px;

    span {
        font-size: 14px;
        color: #cc6633;
    }
}

.form {
    &-group {
        margin-bottom: 20px;

        &__df {
            display: flex;
            justify-content: space-between;
        }
    }

    &-wrapper {
        background-color: #fff;
        margin-top: 20px;   
        padding-top: 15px;  
    }

    &-item {
        padding: 25px;    
    }

    &-heading__line{
        font-size: 18px;    
        line-height: 20px;  
        position: relative;
        padding-left: 25px; 
        &:before {
            content: '';
            position: absolute;
            left: 0;    
            right: 0;   
            bottom: 0;  
            height: 1px;    
            background-color: #b3c1d1;
        }
    }

    &-currency {
        font-size: 12px;
        margin-bottom: 10px;
        span {
            margin-right: 40px;
        }
    }

    &-sign {
        font-weight: 300;
        font-size: 10px;
        padding-top: 10px;

        &__inverse {
            padding-top: 0;
            padding-bottom: 10px;
        }
    }

    &-important {
        position: absolute;
        right: -10px;
        top: 5px;
        font-size: 14px;
        color: #ff3333;
    }

    &-flex {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        label {
            padding: 0 20px;
        }

        .form-control {
            width: 135px;
        }
    }

    &-discount {
        color: #cc6633;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.relative {
    position: relative;
}

.forgot-holder {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
}

.btn-refresh {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.crypto-currency-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.crypto-currency-wrapper {
    margin-bottom: 45px;
}

.currency-refresh {
    font-weight: 600;
    font-size: 10px;
}

.all-profile-reviews {
    text-align: right;

    a {
        display: inline-block;
        padding: 3px 10px;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        background-color: #003068;
    }
}

.currency-cb {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;

    &__inverse {
        align-items: center;
        padding-top: 15px;
    }
}

.news {
    &-item {
        padding: 20px;
        font-size: 16px;
        border-bottom: 1px solid #a1c1d2;
    }

    &-heading {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &-text {
        font-weight: 300;
        margin-bottom: 20px;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 12px;

        a {
            color: #009a9a;
        }
    }

    &-pagination {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 10px;

            &:first-child {
                margin-right: 20px;
            }

            &:last-child {
                margin-left: 20px;
            }

            a {
                text-decoration: none;
            }
        }


    }
}

.new {
    &-detail {
        padding: 20px 30px;
    }

    &-heading {
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 20px;
        color: #000;
        font-weight: 500;

        &__light {
            font-weight: 300;
        }
    }

    &-holder {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    &-left {
        flex: 0 0 160px;
    }

    &-right {
        flex: 0 0 calc(100% - 160px);
        padding-left: 30px;
    }

    &-text {
        font-weight: 300;
        font-size: 14px;

        &__inverse {
            padding-left: 20px;
            margin-bottom: 35px;
        }

    }

    &-form {
        padding-top: 55px;
    }
}

.form-heading {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 22px;
}

textarea {
    height: 170px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #999;
    resize: none;
    padding: 10px 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    flex: 0 0 50%;
    padding: 0 15px;
}

.attention {
    padding: 3px 10px;
    background-color: #fff;
    // margin-top: -109px;
    line-height: 19px;  
    margin-bottom: 13px;

    &-heading {
        font-weight: 600;
        margin-bottom: 5px;
    }

}