.content {
    &-top {
        background-image: url('../images/heading-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        padding-top: 20px;

        @media screen and (max-width: 767px) {
            height: auto;
            background-image: none;
        }

        &__registration {
            background-image: url('../images/registration-bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 10px;

            .form-group {
                margin-bottom: 10px;
            }
        }
    }

    &-container {
        max-width: 810px;
        margin: 0 auto;
    }

    &-col {
        flex: 0 0 calc(100% - 235px);
        margin: 0 20px;
        -webkit-box-shadow: 0px 9px 28px -15px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 9px 28px -15px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 9px 28px -15px rgba(0, 0, 0, 0.35);

        @media screen and (max-width: 767px) {
            width: calc(100% - 40px);
            padding: 0 20px;
            box-shadow: none;
        }
    }

    &-block {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }

            li {
                position: relative;
                padding-left: 20px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 10px;
                    height: 10px;
                    border: 2px solid #cc6666;
                    transform: rotate(-135deg);
                    border-top: none;
                    border-right: none;
                }
            }
        }

        ol {
            padding: 0;
            margin: 0;

            @media screen and (max-width: 767px) {
                padding-left: 20px;
            }
        }
    }

    &-inner {
        background-color: #fff;
        height: 100%;
        position: relative;

        &__inverse {
            background-color: transparent;
        }



        .form-control {
            border: 1px solid #999999;
            border-radius: 3px;
            height: 32px;
            line-height: 32px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;

            &::placeholder {
                color: #999;
            }

            &::-ms-input-placeholder {
                color: #999;
            }
        }
    }
}

.mobile-lk-top {
    background: rgba(1, 95, 124, 1);
    background: -moz-linear-gradient(left, rgba(1, 95, 124, 1) 0%, rgba(0, 111, 115, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 95, 124, 1)), color-stop(100%, rgba(0, 111, 115, 1)));
    background: -webkit-linear-gradient(left, rgba(1, 95, 124, 1) 0%, rgba(0, 111, 115, 1) 100%);
    background: -o-linear-gradient(left, rgba(1, 95, 124, 1) 0%, rgba(0, 111, 115, 1) 100%);
    background: -ms-linear-gradient(left, rgba(1, 95, 124, 1) 0%, rgba(0, 111, 115, 1) 100%);
    background: linear-gradient(to right, rgba(1, 95, 124, 1) 0%, rgba(0, 111, 115, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015f7c', endColorstr='#006f73', GradientType=1);
    padding: 10px;
    margin: 0 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        display: none;
    }

    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 25px;

    @media screen and (max-width: 767px) {
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
    }
}

.heading-lk {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-left: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    }

    li {
        position: relative;

        &:not(:last-child) {
            margin-right: 12px;

            &:before {
                content: '/';
                position: absolute;
                right: -9px;
                color: #fff;
            }
        }

        a,
        span {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.profile {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: -100px;
        margin-left: -20px;
        margin-right: -20px;
        padding-bottom: 70px;

        @media screen and (max-width: 767px) {
            margin-top: 0;
            display: block;
        }

        &__inverse {
            margin-top: 0;
            align-items: flex-start;
        }
    }

    &-col {
        flex: 0 0 235px;

        @media screen and (max-width: 767px) {
            display: none;
        }



        &-inner {
            background-color: #fff;
            padding: 15px 20px;
            -webkit-box-shadow: 0px 9px 28px -7px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 0px 9px 28px -7px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 9px 28px -7px rgba(0, 0, 0, 0.35);

            &:not(:last-child) {
                margin-bottom: 35px;
            }

        }
    }

    &-thumbnail {
        height: 280px;
        background-image: url('../images/profile-bg.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        padding: 15px 20px;
        margin-bottom: 35px;

        .form-control {
            height: 25px;
            border-radius: 3px;
            line-height: 25px;
            font-size: 12px;
            color: #000;

            &::placeholder {
                color: #999;
            }

            &::-ms-input-placeholder {
                color: #999;
            }

            &__xs {
                width: 40px;
                text-align: center;
            }
        }
    }

    &-heading {
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;

        &__inverse {
            color: #000;
        }

        &__line {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -20px;
                right: -20px;
                height: 1px;
                background-color: #a1c1d2;
                bottom: 5px;
            }
        }
    }

    &-discount {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #fff;
        margin-bottom: 15px;
    }

    &-text {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
    }

    &-btn {
        width: calc(100% - 40px);
        color: #fff;
        font-size: 16px;
        border-radius: 15px;
        border: 2px solid #fff;
        padding: 7px;
        background-color: #003366;
        position: absolute;
        bottom: 23px;
        left: 20px;
        right: 20px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &-review {
        font-size: 12px;
        padding: 20px 0;

        &__inverse {
            padding: 7px 0;
        }
    }

    &-news-text {
        color: #00669c;
        font-size: 14px;
        text-decoration: underline;
        font-weight: 300;
    }

    &-news-top {
        font-size: 14px;
    }
}

.action {
    color: #fff;
    font-size: 16px;

    &__inverse {
        color: #000;
    }
}

.important-field {
    font-size: 10px;

    span {
        font-size: 14px;
        color: #cc6633;
    }
}

.form {
    &-group {
        margin-bottom: 20px;

        &__df {
            display: flex;
            justify-content: space-between;
        }
    }

    &-wrapper {
        background-color: #fff;
        margin-top: 20px;
        padding-top: 15px;

        @media screen and (max-width: 767px) {
            background-color: transparent;
        }
    }

    &-item {
        padding: 25px;
    }

    &-heading__line {
        font-size: 18px;
        line-height: 20px;
        position: relative;
        padding-left: 25px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: #b3c1d1;

            @media screen and (max-width: 767px) {
                background-color: #5a9aae;
            }
        }
    }

    &-currency {
        font-size: 12px;
        margin-bottom: 10px;

        span {
            margin-right: 40px;
        }
    }

    &-sign {
        font-weight: 300;
        font-size: 10px;
        padding-top: 10px;

        &__inverse {
            padding-top: 0;
            padding-bottom: 10px;
        }
    }

    &-important {
        position: absolute;
        right: -10px;
        top: 5px;
        font-size: 14px;
        color: #ff3333;
    }

    &-flex {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        label {
            padding: 0 20px;
        }

        .form-control {
            width: 135px;
        }
    }

    &-discount {
        color: #cc6633;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.has-success {
    .form-control {
        border: 1px solid #00cdcd;
    }
}

.has-error {
    .form-control {
        border: 1px solid #ff6666;
    }

    .error {
        display: block;
    }
}

.error {
    color: #ff6666;
    font-size: 14px;
    padding-top: 10px;
    display: none;
}

.relative {
    position: relative;
}

.forgot-holder {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
}

.btn-refresh {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.crypto-currency-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.crypto-currency-wrapper {
    margin-bottom: 45px;
}

.currency-refresh {
    font-weight: 600;
    font-size: 10px;
}

.all-profile-reviews {
    text-align: right;

    a {
        display: inline-block;
        padding: 3px 10px;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        background-color: #003068;
    }
}

.currency-cb {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;

    &__inverse {
        align-items: center;
        padding-top: 15px;
    }
}

.news {
    &-item {
        padding: 20px;
        font-size: 16px;
        border-bottom: 1px solid #a1c1d2;

        @media screen and (max-width: 767px) {
            border: none;
        }
    }

    &-list {
        @media screen and (max-width: 767px) {
            padding-bottom: 50px;
        }
    }

    &-heading {
        font-size: 18px;
        margin-bottom: 20px;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &-text {
        font-weight: 300;
        margin-bottom: 20px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &-preview {
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
            text-decoration: underline;
            color: #336699;
            font-size: 15px;
            margin-bottom: 10px;
        }
    }

    &-sections,
    &-tags {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 12px;

        @media screen and (max-width: 767px) {
            justify-content: flex-end;
            padding-right: 50px;
        }

        a {
            color: #009a9a;

            @media screen and (max-width: 767px) {
                color: #000;
                text-decoration: none;
            }
        }
    }

    &-pagination {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 10px;

            &:first-child {
                margin-right: 20px;
            }

            &:last-child {
                margin-left: 20px;
            }

            a {
                text-decoration: none;
            }
        }


    }
}

.operation {
    &-holder {
        margin: 0 20px;
        font-size: 14px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &-top {
        border-radius: 3px;
        background-color: #003068;
        padding: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &-cell {
        flex: 0 0 33.3%;
        max-width: 33.3%;
        position: relative;

        span {
            display: block;
        }

        img {
            position: absolute;
            right: 30px;
            top: 15px;
        }
    }

    &-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: #fff;
        font-weight: 300;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }

    &-bottom {
        font-weight: 300;
        padding: 5px 10px;
        background-color: #fff;
        border-top: 1px solid #a1c1d2;
        border-radius: 0 0 5px 5px;

        span {
            display: block;
        }
    }

    &-item {
        margin-bottom: 10px;
    }
}

.new {
    &-detail {
        padding: 20px 30px;
    }

    &-heading {
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 20px;
        color: #000;
        font-weight: 500;

        &__light {
            font-weight: 300;
        }
    }

    &-holder {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    &-left {
        flex: 0 0 160px;

        @media screen and (max-width: 767px) {
            flex: 0 0 100%;
        }

        img {
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &-right {
        flex: 0 0 calc(100% - 160px);
        padding-left: 30px;

        @media screen and (max-width: 767px) {
            flex: 0 0 100%;
            padding-left: 0;
            padding-top: 20px;
        }
    }

    &-text {
        font-weight: 300;
        font-size: 14px;

        &__inverse {
            padding-left: 20px;
            margin-bottom: 35px;

            @media screen and (max-width: 767px) {
                padding-left: 0;
            }
        }

    }

    &-form {
        padding-top: 55px;
    }
}

.form-heading {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 22px;
}

textarea {
    height: 170px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #999;
    resize: none;
    padding: 10px 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    flex: 0 0 50%;
    padding: 0 15px;

    @media screen and (max-width: 767px) {
        flex: 0 0 100%;
    }
}

.attention {
    padding: 3px 10px;
    background-color: #fff;
    line-height: 19px;
    margin-bottom: 13px;

    @media screen and (max-width: 767px) {
        margin-left: -20px;
        margin-right: -20px;
    }

    &-heading {
        font-weight: 600;
        margin-bottom: 5px;
    }

}

.rate {

    &-table {
        margin-bottom: 10px;
    }

    &-heading {
        padding: 10px 20px;
        border-radius: 10px 10px 0 0;
        background-color: #fff;
        font-size: 18px;
        font-weight: 600;

        @media screen and (max-width: 767px) {
            background-color: #003366;
            padding: 0;
            border-radius: 5px 5px 0 0;
        }

        span {
            background-color: #d6e7e7;
            padding: 5px 20px;
            display: block;
            text-align: center;
            border-radius: 30px;

            @media screen and (max-width: 767px) {
                background-color: #003366;
                color: #fff;
            }
        }


    }

    &-th {
        background-color: #003366;
        color: #fff;
        font-size: 18px;
        display: flex;
        padding: 7px 20px;

        @media screen and (max-width: 767px) {
            display: none;
        }

        &__cell {
            &:nth-child(2n+1) {
                flex: 0 0 35%;
            }

            &:nth-child(2) {
                flex: 0 0 62px;
                text-align: center;
            }
        }
    }

    &-row {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        background-color: #fff;
        border-bottom: 1px solid #b3c1d1;

    }

    &-td {
        padding: 7px 0;
        font-weight: 300;


        &:nth-child(2n+1) {
            flex: 0 0 35%;
        }

        &:nth-child(2) {
            flex: 0 0 62px;
            text-align: center;
        }

        &:nth-child(4) {
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        span {
            margin-right: 30px;
        }

    }
}

.second-info {
    padding: 5px;
    font-size: 10px;
    position: relative;
    margin-top: 15px;
    color: #fff;
    border-radius: 3px;
    background-color: #003366;

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #003366 transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}