.d-f {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-between__md {
    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }

}

.text-center {
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 970px;
    margin: 0 auto;

    &__lg {
        max-width: 1025px;
    }

    &__sm {
        max-width: 630px;
    }
}

.align-bottom {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

body {
    font: 500 16px / 1.4 'Open Sans', sans-serif;
    color: #000;
    background-color: #ebebeb;
}

.wrapper {
    overflow: hidden;
    min-width: 320px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 7px 20px;
    font-size: 16px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;


    &:focus {
        outline: none;
    }
}

.btn-callback {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #fff;
        border: 1px solid #0C7492;
        color: #0C7492;
    }
}

.btn-primary {
    border-radius: 20px;
    background-color: #003366;
    color: #fff;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #fff;
        color: #003366;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;

    &:hover,
    &:active,
    &:focus {
        color: #0C7492;
        text-decoration: none;
    }
}

.justify-center {
    justify-content: center;
}

